.frames__preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 134px;
    position: relative;
}
.frames__preview-header .icon:before {
transition: 0.3s;
}
.frames__preview-header .logo {
width: 124px;
margin-left: auto;
margin-right: auto;
font-size: 26px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
font-weight: 200;
position: relative;
}
.frames__preview-header .logo a {
display: inline-block;
transition: 0.3s;
}
.frames__preview-header .logo strong {
display: block;
font-weight: 400;
}
.frames__preview-header .head__wrap {
width: 30%;
display: flex;
align-items: center;
justify-content: flex-end;
}
.frames__preview-header .cart {
margin-left: 61px;
position: relative;
}
.frames__preview-header .cart .quantity {
font-weight: 800;
font-size: 8px;
line-height: 10px;
width: 12px;
height: 12px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
color: #FFFFFF;
background-color: #FF5050;
position: absolute;
top: -4px;
right: -3px;
transition: 0.3s;
}
.frames__preview-header .cart:hover .icon:before {
color: #F5A70D !important;
}
.frames__preview-header .cart:focus .icon:before {
color: #E0AD47;
}
.frames__preview-header .m-title-close {
width: 30%;
}
.frames__preview-header .m-close {
width: 18px;
height: 18px;
z-index: 10;
position: relative;
display: flex;
justify-content: center;
margin-left: 60px;
}
.frames__preview-header .m-close > * {
pointer-events: none;
}
.frames__preview-header .m-close::before, .frames__preview-header .m-close::after {
position: absolute;
content: "";
width: 21px;
height: 2px;
display: block;
border-radius: 20px;
background-color: var(--dark);
top: 0px;
right: 0;
left: 0;
bottom: 0;
margin: auto;
}
.frames__preview-header .m-close::before {
transform: translateY(0px) rotate(45deg);
}
.frames__preview-header .m-close::after {
transform: translateY(0px) rotate(-45deg);
}
.frames__preview-header .m-close:hover {
cursor: pointer;
}
  
.m-title-close {
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-transform: uppercase;
cursor: pointer;
flex-shrink: 0;
position: relative;
padding-left: 28px;
transition: 0.3s;
}
.m-title-close:before {
position: absolute;
content: "";
top: 0;
left: 0;
bottom: 0;
margin: auto;
width: 8px;
height: 8px;
border: solid 2px var(--dark);
transform: rotate(45deg);
border-top: none;
border-right: none;
border-radius: 1px;
transition: 0.3s;
}
.m-title-close > * {
pointer-events: none;
}
.m-title-close:hover {
color: var(--yellow);
}
.m-title-close:hover:before {
border-color: var(--yellow);
}

.frames__preview-box {
width: 100%;
height: calc(100% - 134px);
overflow-x: hidden;
overflow-y: auto;
padding-top: 40px;
padding-bottom: 40px;
}
.frames__preview-box .frames__preview-box-wrap {
display: flex;
flex-wrap: wrap;
width: calc(100% + 72px);
margin-left: -36px;
}
.frames__preview-box .preview__item {
display: inline-block;
width: calc(33.3333333% - 72px);
margin-left: 36px;
margin-right: 36px;
margin-bottom: 100px;
}
.frames__preview-box .img__box {
display: inline-block;
width: 100%;
position: relative;
transition: 0.3s;
}
.frames__preview-box .img__box:before {
background-color: #FFFEFC;
background-image: url(../../img/bd-bg.png);
}
.frames__preview-box .img__box:hover {
cursor: pointer;
opacity: 0.8;
}
.frames__preview-box .img__box .glightbox {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
}
.frames__preview-box .img__box img {
width: 100%;
}
.frames__preview-box .preview__item-description {
display: inline-block;
width: 100%;
}
.frames__preview-box .preview__item-title {
font-weight: 300;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
margin-top: 28px;
}
.frames__preview-box .preview__item-title span {
font-weight: 600;
font-size: 22px;
line-height: 27px;
display: inline-block;
width: 100%;
}
.frames__preview-box .preview__item-info {
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
margin-bottom: 28px;
}
.frames__preview-box .preview__item-sizes {
padding-left: 0;
list-style: none;
font-weight: 500;
font-size: 16px;
line-height: 19px;
margin-bottom: 0;
}
.frames__preview-box .preview__item-sizes li {
display: flex;
width: 100%;
justify-content: space-between;
margin-bottom: 12px;
}
.frames__preview-box .preview__item-sizes span {
margin-left: 15px;
font-weight: 600;
}

.modal {
position: fixed;
z-index: 9999;
left: 0;
bottom: 0;
top: 0;
right: 0;
visibility: hidden;
display: flex;
align-items: center;
background-color: #FFFEFC;
background-image: url(../../img/bd-bg.png);
transition: all 0.5s ease-in-out;
transform: translateY(100%);
visibility: hidden;
pointer-events: none;
}
.modal.active {
transform: none;
visibility: visible !important;
pointer-events: all;
}
.m-container {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
margin: 0 auto;
position: relative;
justify-content: center;
overflow: hidden;
}
.m-container ::-webkit-scrollbar {
width: 6px;
height: 6px;
}
.m-container ::-webkit-scrollbar-track {
background: #F5F5F5;
}
.m-container ::-webkit-scrollbar-thumb {
background: #999999;
}
.m-container ::-webkit-scrollbar-thumb:hover {
background: #a3a3a3;
}

@media (max-width: 1280px) {
.frames__preview-box .frames__preview-box-wrap {
    width: calc(100% + 30px);
    margin-left: -15px;
    }
    .frames__preview-box .preview__item {
    width: calc(33.3333333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    }
}
@media (max-width: 991px) {
.frames__preview-header {
    height: 76px;
    }
    .frames__preview-header .logo {
    font-size: 20px;
    line-height: 22px;
    width: -moz-fit-content;
    width: fit-content;
    }
    .frames__preview-header .cart {
    margin-left: 41px;
    height: 15px;
    }
    .frames__preview-box {
    height: calc(100% - 76px);
    padding-top: 35px;
    padding-bottom: 30px;
    }
    .frames__preview-box .preview__item-title {
    margin-top: 16px;
    }
    .frames__preview-box .preview__item-info {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
    }
    .frames__preview-box .preview__item-sizes {
    font-size: 14px;
    line-height: 16px;
    }
    .frames__preview-box .preview__item-sizes li {
    margin-bottom: 8px;
    }
}
@media (max-width: 767px) {
.m-title-close {
    padding-left: 18px;
    margin-bottom: 32px;
    margin-left: 2px;
    }
    .frames__preview-header .logo {
    margin-left: 0;
    }
    .frames__preview-header .m-close {
    margin-left: 25px;
    }
    .frames__preview-box .frames__preview-box-wrap {
    width: 100%;
    margin-left: 0;
    }
    .frames__preview-box .preview__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
    }
}